@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;900&display=swap");

body {
  /* 어절단위 */
  word-break: keep-all;
  font: 1rem /1.5 "Nanum+Gothic", sans-serif;
}

a {
  /* 링크 초기화 */
  text-decoration: none;
  /* 색상 상속 */
  color: inherit;
}


.inner {
  width: 1060px;
  margin: 0 auto;
}

/* 제목 */
.sec-title {
  /* 제목과 상단 여백 */
  margin-top: 180px;
  /* 여백 */
  padding: 20px 0;
  /* 폰트 */
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
}

/* 부제목 */
.sec-title-p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  color: #119973;
}

.logo {
  z-index: 100;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  color: #666;
  font-size: 20px;
  transition: 0.3s;
  z-index: 100;
}

header::before {
  content: '';
  position: absolute;
  /* lnb열리는 위치 */
  top: -400px;
  left: 0;
  width: 100%;
  height: 400px;
  background: #fff;
  transition: 0.3s;
}

header.active::before {
  top: 0;
  border-bottom: 3px solid #119973;
}

/* lnb열릴때 header숨겨짐 */
header.hide {
  top: -100px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.gnb {
  display: flex;

}

.gnb>li>a {
  display: block;
  padding: 0 40px;

}

.gnb>li {
  position: relative;
}

.gnb>li.on {
  color: #119973;
  font-weight: 800;
}

.submenu {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  padding-top: 10px;
  /* jQuery 효과를 위한 설정 */
  display: none;
}

.submenu li a {
  display: block;
  padding: 10px;
  text-align: center;
  color: #666;
}

/* main */
.container {
  justify-content: center;
}

.visual {
  position: relative;
}

.slide {
  margin-top: 100px;
  height: 100%;
}

.slide .slide-img {
  width: 100%;
}

/* 슬라이드 버튼 */
.visual .btn {
  display: block;
  text-indent: -999px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 47px;
  height: 47px;
}


.visual .btn.btn-prev {
  left: 5%;
  background: url(../img/slide-btn-prev.svg);
}

.visual .btn.btn-next {
  right: 5%;
  background: url(../img/slide-btn-next.svg);
}

/* 인디케이터 */
.paging {
  position: absolute;
  transform: translateX(-50%);
  display: flex;
  gap: 20%;
  left: 50%;
  bottom: -5%;
}

.paging span {
  align-items: center;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #bebebe;
  text-indent: -999px;
  overflow: hidden;
}

.paging .slick-active span {
  background: #666;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.download {
  margin-top: 200px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.download div {
  display: flex;
  /* 배경 */
  background: #fff;
  /* 여백 */
  padding: 30px;
  margin: 30px;
}

.tab {
  margin: 30px auto;
}

.tab-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-menu li {
  /* 여백 */
  padding: 10px 30px;
  margin: 0 10px;
  /* 모서리 */
  border: 1px solid #b3b3b3;
  border-radius: 20px 20px 20px 20px;
  /* 폰트 */
  font-weight: 500;
  font-size: 17px;
  color: #666;
  background: #fff;
}

/* 활성화된 탭 표시 */
.tab-menu li.on {
  background: #119973;
  font-weight: 800;
  color: #fff;
  border-bottom: 1px solid transparent;
}

.tab-contents {
  padding: 30px;
}

/* 슬라이드 */
.tab-con-item {
  /* 가로배치 */
  display: flex;
}


.tab-con-item dl {
  width: 294px;
  height: 300px;
  background: #fff;
  text-align: center;
  margin: 0 10px;
  border: 1px solid rgba(175, 175, 175, 0.1);
}

/* 이미지 */
.tab-con-item dt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 152px;
  margin: 40px 0 15px 0;
}

.tab-con-item dt img {
  display: block;
  margin: 0 auto;
  height: 100%;
  object-fit: cover;
}

.tab-con-item dd {
  margin: 15px 0;
}

/*card*/
.card-slide {
  display: flex;
  justify-content: center;
}

.card-img {
  position: relative;
  margin: 30px 20px;
}

.card-img:hover {
  transform: translateY(-20px);
  /* 위로 올라갈 값으로 조정 */
  transition: 0.4s;
}

.card-slide div {
  position: relative;
}

.card-slide div dl {
  position: absolute;
  left: 30%;
}

.card-slide div dl dt {
  font-weight: 700;
  font-size: 16px;
}

.card-slide div dl dd {
  font-weight: 400;
  font-size: 14px;
}

.guid {
  background: #CDFDF0;
}

.guid-sec {
  padding: 50px 0;
  /* 여백 균등 */
  justify-content: space-between;
  /* 가로배치 */
  display: flex;
  /* 넘어가면 밑으로 내리기 */
  flex-wrap: wrap;
}

.guid-list {
  display: inline-block;
  position: relative;
  /* 위부분 추가내역 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  background: #fff;
  /* 내부여백 */
  padding: 28px 50px;
  /* 크기 */
  height: 333px;
  width: 482px;
}

.guid-list dt {
  margin: 20px 0;
  font-weight: 800;
  font-size: 30px;
  color: #666;
}

.guid-list dd {
  margin: 20px 0;
  font-weight: 400;
  font-size: 20px;
  color: #666;
}

.seven-back {
  margin-top: 200px;
}

#footer {
  /* 색상 */
  color: #fff;
  /* 여백 */
  text-align: center;
  padding: 30px;
  line-height: 2;
  background: #31554B;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.footer-wrap address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.address-1 {
  display: flex;
  /* width: 748px; */
  justify-content: space-between;
  margin-top: 30px;
}

.address-2 {
  display: flex;
  /* width: 1215px; */
  justify-content: space-between;
  margin-top: 30px;
}

.address-3 {
  display: flex;
  margin-top: 30px;
}

#footer address p {
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
}

#footer address p:hover {
  color: #119973;
  transition: 0.4s;
}
.eventpage,
.portfolio-process{
  position: fixed;
  background:black;
  color: #fff;
  border-radius: 20px 20px 20px 20px;
  text-align: center;
  padding: 10px;
}
.eventpage {
  bottom: 80px;
  right: 30px;
}

.portfolio-process {
  bottom: 20px;
  right: 30px;
}